* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
  background-color: #F1F1F1;
}

body h1 {
  text-align: center;
  color: #353535;
}

#carousel, #carousel-multiple {
  margin: 0 auto 15px auto;
}

#carousel {
  width: 500px;
}

#carousel-multiple {
  width: 600px;
}