<template name="carousel">
  <header>
    <h1>Slick JS Custom Theme Demo</h1>
  </header>
  <div id="carousel">
    <div>
      <img src="https://unsplash.it/500/300?image=0" alt="image 0">
    </div>
    <div>
      <img src="https://unsplash.it/500/300?image=1" alt="image 1">
    </div>
    <div>
      <img src="https://unsplash.it/500/300?image=2" alt="image 2">
    </div>
  </div>
  <div id="carousel-multiple">
    <div>
      <img src="https://unsplash.it/200/150?image=0" alt="image 0">
    </div>
    <div>
      <img src="https://unsplash.it/200/150?image=1" alt="image 1">
    </div>
    <div>
      <img src="https://unsplash.it/200/150?image=2" alt="image 2">
    </div>
    <div>
      <img src="https://unsplash.it/200/150?image=3" alt="image 3">
    </div>
    <div>
      <img src="https://unsplash.it/200/150?image=4" alt="image 4">
    </div>
    <div>
      <img src="https://unsplash.it/200/150?image=5" alt="image 5">
    </div>
  </div>
</template>