* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
  background-color: #3498DB;
}

body h1 {
  text-align: center;
  color: white;
  margin-bottom: 25px;
}

#carousel, #carousel-multiple {
  margin: 0 auto 15px auto;
}

#carousel img, #carousel-multiple img {
  width: 100%;
  padding: 15px;
}

#carousel {
  width: 500px;
}

#carousel-multiple {
  width: 600px;
}