.slick-slider {
	margin-bottom: 35px;
}

.slick-slider img {
	width: 100%;
	max-width: 100%;
}

.slick-dots {
	position: absolute;
	bottom: -25px;
	display: block;
	width: 100%;
	height: 10px;
	list-style: none;
	text-align: center;
	padding: 0;
	margin-bottom: 0;
}

.slick-dots li {
	position: relative;
	display: inline-block;
	height: 10px;
	width: 10px;
	padding: 0;
	margin: 0 7px;
	cursor: pointer;
}

.slick-dots li button {
	display: block;
	width: 10px;
	height: 10px;
	color: transparent;
	background-color: #C3C3C3;
	outline: none;
	padding: 0;
	border: 0;
	border-radius: 50%;
	cursor: pointer;
}

.slick-dots li button:hover, .slick-dots li button:focus {
	background-color: #505050;
}

.slick-dots li.slick-active button {
	background-color: #505050;
}

.slick-prev, .slick-next {
	position: absolute;
	top: 50%;
	display: block;
	width: 34px;
	height: 34px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 400;
	line-height: 0;
	color: transparent;
	background-color: #676767;
	padding: 0;
	margin: 17px 0 0 0;
	border: none;
	border-radius: 0;
	outline: none;
	cursor: pointer;
}

.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
	outline: none;
	background-color: #353535;
}

.slick-prev:before, .slick-next:before {
	display: block;
	font-size: 14px;
	line-height: 1;
	color: white;
}

.slick-prev {
	left: 0px;
}

[dir="rtl"] .slick-prev {
	left: auto;
	right: 0px;
}

.slick-prev:before {
	content: "\003c";
}

[dir="rtl"] .slick-prev:before {
	content: "\003e";
}

.slick-next {
	right: 0px;
}

[dir="rtl"] .slick-next {
	left: 0px;
	right: auto;
}

.slick-next:before {
	content: "\003e";
}

[dir="rtl"] .slick-next:before {
	content: "\003c";
}