// Default Variables
$slider-img-width: 100% !default;
$slider-img-max-width: $slider-img-width !default;
$slick-dot-size: 10px !default;
$slick-dot-color: #C3C3C3 !default;
$slick-dot-color-active: darken($slick-dot-color, 45%) !default;
$slick-dot-color-hover: darken($slick-dot-color, 45%) !default;
$slick-arrow-size: 8px;
$slick-arrow-thickness: 2px;
$slick-arrow-shift: 0px !default;
$slick-arrow-color: white !default;
$slick-arrow-bg-color: rgba(0, 0, 0, .3) !default;
$slick-arrow-bg-color-hover: rgba(0, 0, 0, .5) !default;
$slick-arrow-bg-width: 34px !default;
$slick-arrow-bg-height: $slick-arrow-bg-width !default;

// Slider
.slick-slider {
	margin: 0 5px 35px 5px;

	img {
		width: $slider-img-width;
		max-width: $slider-img-max-width;
	}
}

.slick-slide {
	padding: 0 10px;
}

// Dots
.slick-dots {
	position: absolute;
	bottom: -25px;
	display: block;
	width: 100%;
	height: $slick-dot-size;
	list-style: none;
	text-align: center;
	padding: 0;
	margin-bottom: 0;

	li {
		position: relative;
		display: inline-block;
		height: $slick-dot-size;
		width: $slick-dot-size;
		padding: 0;
		margin: 0 7px;
		cursor: pointer;

		button {
			display: block;
			width: $slick-dot-size;
			height: $slick-dot-size;
			color: transparent;
			background-color: $slick-dot-color;
			outline: none;
			padding: 0;
			border: 0;
			border-radius: 50%;
			cursor: pointer;

			&:hover, &:focus {
				background-color: $slick-dot-color-hover;
			}
		}

		&.slick-active button {
			background-color: $slick-dot-color-active;
		}
	}
}

// Arrows
.slick-prev,
.slick-next {
	position: absolute;
	top: 50%;
	display: block;
	width: $slick-arrow-bg-width;
	height: $slick-arrow-bg-height;
	line-height: 0;
	color: transparent;
	background-color: $slick-arrow-bg-color;
	padding: 0;
	margin: -$slick-arrow-bg-height / 2 0 0 0;
	border: none;
	border-radius: 0;
	outline: none;
	cursor: pointer;

	&:hover, &:focus {
		outline: none;
		background-color: $slick-arrow-bg-color-hover;
	}
}

.slick-prev:before, .slick-next:before {
	content: '';
	display: block;
	position: relative;
	width: $slick-arrow-size;
	height: $slick-arrow-size;
	border-top: $slick-arrow-thickness solid $slick-arrow-color;
	border-right: $slick-arrow-thickness solid $slick-arrow-color;
	margin: 0 auto;
}

.slick-prev {
	left: $slick-arrow-shift;

	&:before {
		left: $slick-arrow-thickness;
		transform: rotate(225deg);
	}
}

.slick-next {
	right: $slick-arrow-shift;

	&:before {
		right: $slick-arrow-thickness;
		transform: rotate(45deg);
	}
}